.bg-video {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.bg-video .video {
  height: 100vh;
  opacity: 0.2;
}

.bg-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.container {
  position: relative;
  z-index: 3;
  display: flex;
  height: 100vh;
}
.container__left {
  display: flex;
  height: 100vh;
  width: 30%;
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container__right{
    width: 65%;

}

.score_box {
  background-color: #fff;
  padding: 30px;
}

.frame {
  border: 3px solid #000;
  border-radius: 5px;
}
.card_details{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
}

#card-name{
    font-size: 1rem;
}
#card-type{
font-size: 0.8rem;
}

.card-box__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem;
}

.card-versus__container{
    display: flex;
    flex-direction: column;
    padding-top: 0.1rem;
    height: 300px;
}

.versus-top, .versus-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

#next-duel{
    display: none;
}

.card-box{
    height: 9rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 30px;
}

.card-infield{
    height: 11.2rem;
    width: 8rem;
}

.card:hover{
  transition: transform 0.2s;
  transform: scale(1.2);
}